// STYLE PAR DEFAUT DES BOUTONS 
// EXPLORER NOS RESTAURANTS ET COMMANDER

@mixin button {
    width:250px;
    height: 60px;
    @include center;
    border-radius: 2rem;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0px 5px 20px darken($color-shadow, 10%);
    position: relative;
    transition: 400ms;

    &:hover {
        opacity:0.8;
        box-shadow: 0 5px 20px darken($color-shadow, 40%);
    }

    p {
        color: white;
        font-size:$font_medium;
    }
}