// CARTES DES PLATS

    .Cards {
        @include box;
        margin-bottom: 1rem;
        overflow: hidden;
        white-space: nowrap;
        justify-content:space-between;
        cursor: pointer;


// NOMS DES PLATS

    &__Text { 
        display:flex;
        flex-direction: column;
        padding: 1rem 0 1rem 1rem;
        overflow:hidden;
        text-overflow: ellipsis;
        
        & > h3, p {
            margin:0;
            overflow:hidden;
            text-overflow: ellipsis;
        }
    }
    
// PRIX DES PLATS

    & > p {
        display:flex;
        align-items:flex-end;
        margin-left: auto;
        padding:0 1rem;
    }

// COCHE D'AJOUT AU PANIER

    &__Add {
            width:5rem;
            @include center;
            margin-right:-5rem;
            background: $color-tertiary;
            transform: rotateZ(180deg);
            transition: all 500ms;
            flex-shrink: 0;

            span {
                color:white;
                transition: 200ms 200ms; 
            }    
    }
    
// ANIMATION DE COCHE AU SURVOL DES PLATS
    
    &:hover .Cards__Add {
        margin-right:0;
    }

    &:hover span {
        transform: rotateZ(180deg);
    }


// ANIMATION D'APPARITION DES CARTES DES PLATS

    animation: anim-cards 1s forwards;
    opacity:0;
}

@for $i from 1 through 4 {
    .anim-#{$i} {
        animation-delay: 250ms * $i;

    }
}

@keyframes anim-cards {
    from {
        transform: translateY(1rem);
    }

    to {
        transform: translateY(0);
        opacity:1;
    }
}
