// BOUTON J'AIME

@mixin like-button {
    @content;
    .heart {
        position:relative;
        & .fa-solid {
            position:absolute;
            opacity:0; 
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image:linear-gradient(45deg, $color-secondary, $color-primary);
            cursor:pointer;
            &:hover {
                animation: animation-heart 1000ms forwards;
            }
        }
    }
}

// ANIMATION DU BOUTON J'AIME

@keyframes animation-heart{
    100% {
        opacity:1;
    }
}