//LOADER DE CHARGEMENT DE LA PAGE D'ACCUEIL

.background {
  width:100%;
  height:100%;
  @include center;
  background: $color-background;
  animation: loader-ending 0s 3s forwards;
  position:fixed;
  z-index:2;

  &__loader {
    width: 5rem;
    height: 5rem;
    border: .3rem solid;
    border-color: $color-primary transparent $color-secondary transparent;
    border-radius: 50%;
    animation: loader 750ms infinite ease;
  }
}

// ANIMATION D'ARRIVEE DU LOADER

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ANIMATION DE DEPART DU LOADER

@keyframes loader-ending {
  100% {
      transform:translate(500rem);
  }

}



