.menu-cards {
    @include box;
    align-items:flex-end;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    @include desktop {
        width:30%;
        height:100px;
        display:flex;
        justify-content:center;
        text-align:center;
        & h3 {

        }
    }

    & h3 {
        margin:0;
    }

    & p {
        margin:0;
    }
}

// ANIMATION D'APPARITION DES CARTES DES PLATS


     .anim-1 {
        animation: anim-cards 500ms forwards;
        opacity:0;
    }

     .anim-2 {
        animation: anim-cards 500ms 500ms forwards;
        opacity:0;
    }

     .anim-3 {
        animation: anim-cards 500ms 1000ms forwards;
        opacity:0;
    }

     .anim-4 {
        animation: anim-cards 500ms 1500ms forwards;
        opacity:0;
    }
