.menu-cards {
    @include box;
    align-items:flex-end;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;

    & h3 {
        margin:0;
    }

    & p {
        margin:0;

    }


}