// FOOTER

footer {
    background-color: darken($color-background,71%);
    color:white;
    padding:2rem 0 1rem 2rem;
  
    
// TITRE OHMYFOOD

    h4 {
        font-family: Shrikhand;
        font-size: $font_large;
        font-weight:100;
        margin:0;
        margin-bottom:.3rem;
    }


// LISTE DU FOOTER

    ul {
        padding:0;
    }

    li {
        height:2rem;
        display:flex;
        align-items:center;
    }
    

// ICONES ET LIENS DU FOOTER

    span {
        width:2rem;
    }
    
    a {
        color:white;
        display:flex;
        align-items: baseline;
    }
}