// HEADER

header {
    width:100%;
    height:70px;
    @include center;
    box-shadow: 0 0 4px darken($color-shadow, 40%);
    position:relative;
    z-index: 1;
    

// LOGO DU SITE

    & img {
        width: 200px;
    }


// FLECHES DE RETOUR A LA PAGE D'ACCUEIL
// UNIQUEMENT SUR LES PAGES DE MENUS

    & a {
        color:black;
        position:absolute;
        left:2rem;
    }
}

