// MEDIA QUERIES

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, mobile)) 
                  and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints,desktop)) {
        @content;
    }
}


// FLEXBOX CENTRER ET ALIGNER

@mixin center {
    display:flex;
    justify-content: center;
    align-items: center;
    @content;
}