// COULEURS

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background: #eaeaea;

$color-shadow:#c0c0c0;


// DEGRADES

$gradient: linear-gradient($color-secondary, $color-primary);

// POLICES D'ECRITURE

$texte-font: "Roboto";
$title-font: "Shrikhand";

// TAILLE DES POLICES

$font_small:15px;
$font_medium:18px;
$font-large: 20px;
$font-xlarge:25px;
$font_title:30px;




