.Explore {
    @include center;
    flex-direction: column;


    &__SearchBar {
        width: 100%;
    }
        
    form {
        @include center;
        background:$color-background;         
    }
        
    input {
        width:150px;
        height:50px;
        border:0;
        outline:0;
        background: $color-background;
        &::placeholder {
            font-weight: bold;
            color:black;
        }
    }
    
    span {
        width:2rem;
    }
    
    &__Title {
        width:100%;
        @include center;
        text-align : center;
        flex-direction:column; 
        padding: 1rem 3rem 3rem 3rem;
        line-height: 2rem;
        background-color: lighten($color-background,5%);
        > p {
            font-weight: 300;
            font-size: $font_large;
            margin-top:0;
        }
    } 
    
    &__Btn {
        @include button;
    }
}