.fonctionnement {
    padding:30px;
    & .all_box{
        display:flex;
        flex-direction:column;
        @include desktop {
            flex-direction: row;
            align-items:center;
            justify-content:space-around;
        }
    }
    
    & .box {
        @include box;
        position:relative;

        &:nth-child(2) {
            margin: 20px 0 20px 0;
        }

        &:hover span {
            color:$color-primary;
        }

        &:hover {
            cursor:pointer;
            background:lighten($color-primary, 35%);
            transition: 250ms;
        }
    }

    & span {
        width:100px;
        display:flex;
        justify-content: center;
        color:darken($color-shadow,25%);
        @include desktop {
            width: 50px;
            margin-left:20px;
        }
    }

    & p {
        font-weight:600;
    }

    & .number {
        width:30px;
        height:30px;
        border-radius:20px;
        background-color: $color-primary;
        color:white;
        display:flex;
        justify-content: center;
        align-items:center;
        position:absolute;
        left:-10px;;
    }
}