// ESPACE FONCTIONNEMENT

.Function {
    padding:2rem;

    &__All-Box{
        display:flex;
        flex-direction:column;
        @include desktop {
            flex-direction: row;
            align-items:center;
            justify-content:space-around;
        }
    }
    
    &__Box {
        @include box;
        position:relative;

        &:nth-child(2) {
            margin: 1rem 0 1rem 0;
        }

        @include desktop {
            width:30%;
    }

//CHANGEMENT DE COULEURS DES BOXS AU SURVOL DE LA SOURIS

        &:hover span {
            color:$color-primary;
        }

        &:hover {
            cursor:pointer;
            background:lighten($color-primary, 35%);
            transition: 250ms;
        }
        
    }

// CONTENU DES BOXS - NUMERO ICONE ET TEXTE

    &__Number {
        width:2rem;
        height:2rem;
        @include center;
        border-radius:3rem;
        background-color: $color-primary;
        color:white;
        position:absolute;
        left:-1rem;top:-.3rem;
    }

    span {
        width:100px;
        @include center;
        color:darken($color-shadow,25%);
        @include desktop {
            width: 3rem;
            margin-left:2.5rem;
            margin-right:1.5rem;
        }
    }
    
    p {
        font-weight:600;
    }
}