.menu {
    background:$color-background;
    border-radius: 50px 50px 0 0;
    padding:10px 20px 80px 30px;
    display:flex;
    flex-direction: column;
    position:relative;
    top:-50px;

    & .nom-du-menu {
        display:flex;
        align-items:baseline;
        justify-content:space-between;
    }

    & h1 {
        font-family: $title-font;
        font-weight: 600;
    }

// ENTREES PLATS DESSERTS

    & .services {
        position:relative;
        
        & h2 {
            font-size: $font-large;
            &::after {
                content:"";
                width:50px;
                height:4px;
                background:$color-tertiary;
                position:absolute;
                top: 50px; left:0;
            }
        }
    }

//BOUTON COMMANDER

    & .btn {
        @include button;
        margin:auto;
    }

// BOUTON J'AIME

    @include like;
    &:hover .full {
        position:absolute;
        animation: animation-heart 3s forwards;
    }
    
    &:hover .empty {
        opacity:0;
    }
}